*,
html {
    padding : 0;
    margin: 0;
}

.Container {
    background: url(Pemandangan\ blue.png);
    color: #fff;
    background-size: 100%;
}

.Container-Navbar {
    background-color: rgb(8, 8, 8);
     display:flex;
     align-items: center;
     height: 10%;
}

.Container-Foto1 {
    width: 5vh;
    height: 5vh;
    position: relative;
    right: 1vh;
    top: 1vh;
}

.Container-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: rgb(189, 225, 236);
}

.Container-Isian-Kiri {
    position: relative;
    top: 15%;
    width: 100%;
}

.Container-Header {
    font-family: 'helvetica';
    font-size: 60px;
    background-color: rgba(32, 37, 116, 0.4);
}

.Container-Penjelasan {
    font-family: 'helvetica';
    font-size:20px;
    background-color: rgba(32, 37, 116, 0.4);
}

.Deskrip-Utama {
    position: relative;
    top: 20vh;
    
}

.Ipong-14 {
    margin-bottom: 90px;
}

.FotoIpong14Promeg {
    float: left;
    
}

