*,
html {
    padding : 0;
    margin: 0;
}

.Container {
    background: url(wallpaper.jpg);
    color: #fff;
    background-size: 100%;
    background-attachment: fixed;
}

.Container-Navbar {
    background-color: rgb(31, 58, 109);
     display:flex;
     align-items: center;
     height: 7vh;
     padding: 1px;
}


.Container-list {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    margin: 6px;
    font-size: 25px;
    color: rgb(146, 214, 226);
}

.Container-list :hover {
    background-color: rgb(68, 203, 212);
    color: rgb(44, 21, 54d);
}

.Container-Isian-Kiri {
    position: relative;
    top: 15vh;
    width: 100%;
    background-image: linear-gradient(to right,rgba(140, 143, 146, 0.8), rgba(214, 209, 230, 0));
    color: rgb(24, 22, 22);
}

.Container-Header {
    font-family: 'helvetica';
    font-size: 60px;
}

.Container-Penjelasan {
    font-family: 'helvetica';
    font-size:20px;
}

.Deskrip-Utama {
    position: relative;
    top: 20vh;
    color: black;
    background-color: rgba(135, 135, 136, 0.4);
}

.Ipong-14 {
    margin-bottom: 90px;
    font-size: 20px;
    line-height: 28px;
}

.FotoIpong14Promeg {
    float: left;
}

.Smartphones {
    float: left;
    width: 25px;
    height: 25px;
}

