*,
html {
    padding : 0;
    margin: 0;
}

.Container {
    background: url(Pemandangan\ blue.png);
    color: #fff;
    background-size: 100%;
}

.Container-Navbar {
    background-color: rgb(8, 8, 8);
     display:flex;
     align-items: center;
     height: 10vh;
}

.Container-Foto1 {
    width: 5vh;
    height: 5vh;
    position: fixed;
    right: 10vh;
    top: 3vh;
}

.Container-list {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    color: rgb(189, 225, 236);
}

.Container-Isian-Kiri {
    position: fixed;
    top: 15vh;
    width: 100%;
}

.Container-Header {
    font-family: 'helvetica';
    font-size: 60px;
    display:flex;
    justify-content: center;
    background-color: rgba(32, 37, 116, 0.4);
}

.Container-Penjelasan {
    font-family: 'helvetica';
    font-size:20px;
    display:flex;
    justify-content: center;
    background-color: rgba(32, 37, 116, 0.4);
}

